<div class="card">
  <div class="affiche">
    <img data-src="posterPath" data-alt="Affiche" />
  </div>
  <div class="content">
    <div class="title" data-content="title"></div>
    <div>
      <span>De</span>
      <div class="director" data-content="director"></div>
      <span>Avec</span>
      <div class="actors" data-content="actors"></div>
      <div class="overview" data-content="overView"></div>
      <div class="voteaverage" data-content="voteAverage"></div>
      <div>
        <button class="teaser" data-id="id">Bande-annonce</button>
        <button class="show">Séances</button>
      </div>
    </div>
  </div>
</div>
